.idea/
.venv/
__pycache__/
build/
dist/
*.bat
*.7z
*.spec
*.log
*.lock
*.pyc
settings_passwords.txt
mails_to_send.txt
del_password_in_file.py
functions.py
load_from_ABIS.py
load_to_SEC.py
mail.py
temp.py